<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="css/style.css">
  <title>Backbone Vet</title>
</head>

<body>
  <div id="main"></div>
  <!-- <div class="container main-container">
    <h1>Vet clinics</h1>
    <div class="input-group">
      <input class="form-control search-input"
             placeholder="Search for a clinic">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary search-button"
                type="button">search</button>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Clinic Name</th>
          <th>Clinic City</th>
        </tr>
      </thead>
      <tbody class="clinics-list">

      </tbody>
    </table>
  </div>
  <script type="text/template"
          class="clinics-list-item-template">
    <td><span class="clinic-list-item"><%= name %></span></td>
    <td><span class="clinic-list-item"><%= city %></span></td>
  </script> -->
  <script type="text/template"
          class="home-template">
    <div class="container main-container">
      <h1>Vet clinics</h1>
      <div class="input-group">
        <input class="form-control search-input"
              placeholder="Search for a clinic">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary search-button"
                  type="button">search</button>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Clinic Name</th>
            <th>Clinic City</th>
          </tr>
        </thead>
        <tbody class="clinics-list">

        </tbody>
      </table>
    </div>
  </script>

  <script type="text/template"
          class="clinics-list-item-template">
    <td><span class="clinic-list-item"><%= name %></span></td>
    <td><span class="clinic-list-item"><%= city %></span></td>
  </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="src/app.js"></script>
  <script src="src/models/clinic.model.js"></script>
  <script src="src/collections/clinic.collection.js"></script>
  <script src="src/views/clinic-list/clinic-list.view.js"></script>
  <script src="src/views/home/home.view.js"></script>
  <script src="src/router.js"></script>

</body>

</html>