<div class="container main-container">
  <h1>Vet clinics</h1>
  <div class="input-group">
    <input class="form-control search-input"
           placeholder="Search for a clinic">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary search-button"
              type="button">search</button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Clinic Name</th>
        <th>Clinic City</th>
      </tr>
    </thead>
    <tbody class="clinics-list">

    </tbody>
  </table>
</div>